@font-face {
    font-family: Dry Brush;
    src: local ("Dry Brush.ttf") url("Dry Brush.ttf") format(".ttf");
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    padding: 0; 
    margin: 0; 
}

header nav {
    background-color: #FFF;
    padding: 0em;
    margin: 0em; 

}


header li:first-of-type img {
    height: 5.6em;

}

header li:nth-of-type(2){
    font-family: transavicon;
    font-size: 2.7em;
    padding-right: 0.3em; 
}
 
header li a {
    color: #21d470;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    text-decoration: none; 

    
}
/* langzaam opkomen en langzaam eruit gaan met een tijdloop van 2sec. */

header li a:hover {
    color: #e83c6b;
}

header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; 
    -webkit-box-pack: justify; 
    -ms-flex-pack: justify; 
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding:0; 
    border-bottom: solid;
    border-bottom-color: darkgray; 
    border-bottom-width: thin; 
}



body > nav li a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100;
    font-family: Nexa Bold;
    color: white;

    

    
}

li {
    list-style-type: none;
}


body {
    margin: 0em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 27em; 
}

section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    font-family: Nexa; 
    color: #e83c6b; 
    -webkit-box-pack: justify; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: column; 
    flex-direction: column;
    text-align: center; 
    background-color: white; 
    padding: 1em; 
    
    }

section:nth-of-type(2){
    font-family: transavicon; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: row; 
    flex-direction: row; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    background-color: #2A3283; 
    border-radius: 2em; 
    width: 5em;
    margin: 0 auto;
    margin-top: -1.6em;
    color: white; 
    position: sticky;
    top: 2.3em; 
    z-index: 99;
    
    
    
    }

section span{
    padding: 0 0.5em 0 0.5em;
    font-size: 1.5em; 
    
   
}
a{
    text-decoration: none; 
    list-style-type: none; 
    color: white; 
}

a:hover {
    color: #e83c6b;
}

section > button {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}
section > button > img {
    width: 2.5em;
}



main img:first-of-type{
    width: 100%;
    display: flex; 
}

main img:nth-of-type(2){
    display: none; 
}

main img:nth-of-type(3){
    display: none; 
}

    
@media screen and ( min-width: 45em) {
    main img:first-of-type{
        display: none; 
    } 
    
    main img:nth-of-type(3){
        display: none; 
    }
    main img:nth-of-type(2){
        width: 100%;
        display: flex; 
        
    }
    h1{
            font-size: 3em; 
        }
    
    }
  p{
            margin-top: -1em; 
        }
    
    @media screen and ( min-width: 61em) {
        
        main img:first-of-type{
            display: none; 
        }
        
         main img:nth-of-type(2){
        display: none; 
    } 
    main img:nth-of-type(3){
        width: 100%;
        display: flex; 
        
    }
        h1{
            font-size: 6em; 
        }
        p{
            margin-top: -5em; 
        }
    
    }
    
    
    
       
        









    



























